[Unit] 
Description=Promtail service 
After=network.target 
 
[Service] 
Type=simple 
#User=promtail 
ExecStart={{ promtail_install_dir }}/promtail-{{ promtail_variant }} -config.file {{ promtail_install_dir }}/promtail-config.yaml 
Restart=always
MemoryLimit=5G
 
[Install] 
WantedBy=multi-user.target